@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    text-align: center;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: #212123;
}

.main-section {
    display: flex;
    justify-content: center;
    margin: 50px auto 100px auto;
    max-width: 2000px;
}

.main-section-lhs {
    padding: 0 30px 0 50px;
}

.main-section-rhs {
    padding: 0 50px 0 30px;
}

header {
    text-align: center;
}

.guess-grid {
    /* border: 1px solid white; */
    padding: 10px;
    display: grid;
    grid-template-rows: 30px repeat(8, 1fr);
    grid-gap: 5px;
    width: 100%;
    margin: auto;
}

.header-row {
    /* border: 1px solid white; */
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 5px;
    height: 30px;
}

.header-col {
    /* border: 1px solid white; */
    /* background-color: grey; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 30px;
    text-transform: capitalize;
    font-weight:800;
    font-size: 0.8rem;
}

.player-col {
    width: 250px;
}

.player-tile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    color: white;
    text-transform: capitalize;
    width: 250px;
}

.guess-row {
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    gap: 5px;
}

.guess-tile {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: rgb(225, 225, 225);
    color: black;
    text-transform: capitalize;
}

.correct-tile {
    background-color: rgb(0, 172, 37);
    color: #fff;
}

.partially-correct-tile {
    background-color: rgb(228, 157, 14);
    color: #fff;
}

.wrong-tile {
    background-color: rgb(72, 72, 72);
    color: #fff;
}

.tile-img {
    width: 50px;
    height: 50px;
    z-index: 1;
}

img {
    width: 25px;
    height: 25px;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    display: inline;
    padding: 0 25px;
}

li a:hover {
    text-decoration: underline;
    font-size: 1rem;
}

li a {
    color: white;
    text-decoration: none;
}

nav {
    display: flex;
    border-bottom: rgb(88, 88, 88) solid 1px;
    justify-content:space-between;
}

nav div {
    display: flex;
    flex-direction: c;
}

#logo {
    display: flex;
    align-content: center;
    margin-left: 20px;
}

#logo p {
    margin-left: 10px;
}

#logo img {
    margin-top: 14px;
}

h1 {
    font-size: 100px;
    margin-bottom: 0;
}

footer {
    border-top: rgb(88, 88, 88) solid 1px;
}

footer img {
    width: 40px;
    height: 40px;
}



/* Team Grid */
/* ----------------------------------------------------------------------------------------- */
.team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
}

.team-logo-container > img {
    width: 80px;
    height: 80px;
    margin: 5px;
    transition-property: all;
    transition-duration: 1s;
}

/* Tooltip tutorial here https://www.w3schools.com/css/css_tooltip.asp */
.team-logo-container {
    position: relative;
}

.team-logo-container .tool-tip {
    visibility: hidden;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    transform: translateX(55%) translateY(-70%);
   
    /* Position the tooltip text - see examples below! */
    position: fixed;
    z-index: 1;
}

.tool-tip p {
    margin: 0;
}

.team-logo-container:hover .tool-tip {
    visibility: visible;
}

.wrong-team {
    filter: brightness(10%);
}


/* Search Bar */
/* ----------------------------------------------------------------------------------------- */
.wrapper {
    max-width: 500px;
    margin: 30px auto 50px;
}

.wrapper * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper .search-input {
    position: relative;
    background: #fff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.search-input .icon {
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.search-input .search-results {
    color: #000;
    padding: 0;
    width: 100%;
    max-height: 280px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}

.search-input .search-results li {
    display: none;
    list-style: none;
    padding: 8px 12px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active .search-results{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.search-input.active .search-results li {
    display: block;
}

.search-results li:hover {
    background-color: #efefef;
}

.search-results li .player-info {
    display: block;
    font-style: italic;
    font-size: 12px;
}

.search-results li .player-name {
    display: block;
    font-size: 1rem;
}

/* Text overlay */
/* ----------------------------------------------------------------------------------------- */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.active-overlay {
    visibility: visible;
    z-index: 2;
}

.textbox {
    background-color: white;
    color: #000;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.textbox li {
    display: block;
    margin: 15px;
}

.green {
    color: green;
}

.yellow {
    color: rgb(255, 225, 0);
}

.stats-container {
    display: grid;
    width: 500px;
    grid-template-columns: repeat(4, 1fr);
}

.stat-number {
    display: block;
    font-size: 3rem;
}

/* Mobile compatible */
/* ----------------------------------------------------------------------------------------- */
@media only screen and (max-width: 750px) {
    * {
        font-size: 1rem;
    }

    .main-section {
        margin-top: 0;
    }

    .main-section-lhs > h1 {
        font-size: 60px;
    }
    
    .team-logo-container > img {
        width: 45px;
        height: 45px;
    }

    #logo {
        margin: 0;
    }

    #logo > img {
        margin-top: 18px;
    }

    #logo > p {
        margin-left: 5px;
    }

    nav > div > ul > li {
        padding: 10px
    }

    .main-section {
        display: block;
    }

    .main-section-lhs {
        padding: 0 20px;
    } 

    .main-section-rhs {
        padding: 0;
    } 

    .guess-grid {
        width: 100%;
    }

    .player-col {
        display: none;
    }

    .header-row {
        width: 95vw;
    }

    .guess-row {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas: "name name name name name name name"
                             "conf div team pos ppg apg rpg";
    }

    .guess-tile {
        height: auto;
        width: auto;
        font-size: 0.8rem;
    }

    .player-tile {
        width: auto;
        height: auto;
        grid-area: name;
        justify-content: left;
        font-weight: 800;
        font-size: 1.2rem;
        padding: 5px;
        background-color: none;
    }

    img {
        height: 15px;
        width: 15px;
    }

    .stats-container {
        width: 100%;
    }

    .team-logo-container {
        position: relative;
    }
    
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
    }

    .team-logo-container .tool-tip {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
        top: 140px;
        left: -215px;
        width: 100%;
        height: 200px;
        border-radius: 0;
        position: fixed;
        visibility: hidden;
        background-color: rgba(0,0,0,0.7);
       
        /* Position the tooltip text - see examples below! */
        z-index: 1;
        
        font-size: 0.8rem;
    }
    
    .tool-tip p {
        margin: 0;
        font-size: 0.8rem
    }
    
    .team-logo-container:hover .tool-tip {
        visibility: visible;
    }
}